# Database
DB_HOST=localhost
DB_NAME=ecosysteme
DB_USER=root
DB_PASSWORD=

# Admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD= # À générer avec password_hash()

# API Keys
MAILGUN_API_KEY=
GOOGLE_ANALYTICS_ID=
